@import "tailwindcss";

@theme {
  --font-display: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-bg-brand: #f4511e;
  --color-bg-pressed-primary: #e64a19;
  --color-bg-hover-primary: #d84315;
  --color-bg-brand-extralight: #ffab91;
  --color-indicator-focused: #f4511e;

  --color-border-extralight: #e3e5e5;
  --color-border-light: #ced2da;
  --color-border-medium: #97a1af;

  --color-text-invert: white;
  --color-text-primary: #141c24;
  --color-text-secondary: #344051;
  --color-text-tertiary: #637083;
  --color-text-quartenery: var(--color-border-medium);
  --color-text-error: #f64c4c;

  --color-indicator-white: white;
  --color-indicator-light: var(--color-border-light);
  --color-indicator-medium: var(--color-border-medium);
  --color-indicator-normal: var(--color-text-primary);
  --color-indicator-error: var(--color-text-error);
  --color-indicator-attention: #ffb219;
  --color-indicator-positive: #40bf7f;
}
